.content {
    font-family: 'PPNeueMachina', Arial, Helvetica, sans-serif;
}

.article {
    display: flex;
    margin-top: 129px;
    flex-direction: column;
    margin-left: 607px;
}

.article:last-child {
    margin-bottom: 120px;
}

.article-container-number {
    display: flex;
}

.article-subtitle {
    font-size: 68px;
    font-weight: 400;
    color: white;
    max-width: 860px;
    margin: 0;
    line-height: 1;
    margin-left: 37px;
}

.article-number {
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.article-line {
    width: 860px;
    height: 1px;
    background-color: #6b6b6b;
    margin-left: 74px;
    margin-top: 52px;
    margin-bottom: 31px;
}

.article-line-last {
    margin: 31px 0 52px 74px;
}

.article-content {
    max-width: 860px;
    margin-left: 74px;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}

.article-paragraph:last-child {
    margin: 0;
}

.article-paragraph {
    margin: 0 0 25px 0;
}

.article-paragraph-link {
    color: rgb(91, 134, 229);
    border-bottom: 1px solid rgb(91, 134, 229);
    text-decoration: none;
}

.list-content {
    display: flex;
}

.list-number {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    font-family: 'PPNeueMachina',Arial,sans-serif;
    color: #5b86e5;
}

.list-text {
    margin: 0;
    font-size: 18px;
}

.list-title {
    margin: 0 45px 0 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'PPNeueMachina',Arial,sans-serif;
    min-width: 200px;
}

.list-line {
    margin: 31px 0;
    width: 860px;
    height: 1px;
    background-color: #6b6b6b;
}

.list-line:first-child {
    margin: 45px 0 31px;
    width: 860px;
    height: 1px;
    background-color: #6b6b6b;
}

.article-button {
    display: block;
    background-image: url('.././images/lets-grow.svg');
    width: 200px;
    height: 200px;
    margin-left: 200px;
}