.title {
    font-size: 108px;
    font-weight: 700;
    font-family: 'PPNeueMachina', Arial, Helvetica, sans-serif;
    color: white;
    max-width: 700px;
    margin-top: 160px;
    margin-left: 380px;
    margin-bottom: 0;
}

.lead-button {
    font-family: 'PPNeueMachina', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #5b86e5;
    border-color: transparent;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 380px;
    padding: 19px 50px;
}