@font-face {
    font-family: NeueMachina;
    font-weight: 400;
    font-style: normal;
    src: local("NeueMachina"),
        url("../fonts/NeueMachina-Regular.woff2") format('woff2'),
        url("../fonts/NeueMachina-Regular.woff") format('woff'),
        url("../fonts/NeueMachina-Regular.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: NeueMachina;
    font-weight: 500;
    font-style: normal;
    src: local("NeueMachina"),
        url("../fonts/NeueMachina-Medium.woff2") format('woff2'),
        url("../fonts/NeueMachina-Medium.woff") format('woff'),
        url("../fonts/NeueMachina-Medium.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: NeueMachina;
    font-weight: 700;
    font-style: normal;
    src: local("NeueMachina"),
        url("../fonts/NeueMachina-Bold.woff2") format('woff2'),
        url("../fonts/NeueMachina-Bold.woff") format('woff'),
        url("../fonts/NeueMachina-Bold.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: NeueMachina;
    font-weight: 900;
    font-style: normal;
    src: local("NeueMachina"),
        url("../fonts/NeueMachina-Black.woff2") format('woff2'),
        url("../fonts/NeueMachina-Black.woff") format('woff'),
        url("../fonts/NeueMachina-Black.eot") format('eot');
    font-display: swap;
}